<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.violetbeach.daengbu.repository.article.ArticleRepository">

	<insert id="postArticle" parameterType="com.violetbeach.daengbu.dto.model.article.ArticleDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article
        (
            author_id, kind_id, location1, location2, age, gender, title, created_datetime
        )
        VALUES
        (
            #{authorId}, #{kindId}, #{location1}, #{location2}, #{age}, #{gender}, #{title}, NOW()
        );
    </insert>
    
    <insert id="postText" parameterType="com.violetbeach.daengbu.dto.model.article.ContentDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO content
        (
            article_id, author_id, text
        )
        VALUES
        (
            #{articleId}, #{authorId}, #{text}
        );
    </insert>
    
    <insert id="postImage" parameterType="com.violetbeach.daengbu.dto.model.article.ArticleImageDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article_image
        (
            article_id
        )
        VALUES
        (
            #{articleId}
        );
    </insert>
    
    <select id="getArticleList" parameterType="com.violetbeach.daengbu.controller.v1.command.ArticleSearchCommand" resultType="com.violetbeach.daengbu.dto.model.article.ArticleDto">
		SELECT * FROM article 
		<where>
			<if test='location1 != null and location1 != "" and location1 != "전체"'>
				AND location1 = #{location1}
			</if>
			<if test='kindId != null and kindId != ""'>
				AND kind_id = #{kindId}
			</if>
			<if test='gender != null and gender != "" and gender != "전체"'>
				AND gender = #{gender}
			</if>
			<if test='age != null and age != "" and age != "전체"'>
				AND age = #{age}
			</if>
			<if test='authorId != null and authorId != ""'>
				AND author_id = #{authorId}
			</if>
		</where>
		ORDER BY id ASC;
	</select>
	
	<select id="getArticleImageList" parameterType="com.violetbeach.daengbu.controller.v1.command.ArticleSearchCommand" resultType="com.violetbeach.daengbu.dto.model.article.ArticleImageDto">
		SELECT * FROM article_image WHERE article_id IN
		(SELECT id FROM article
		<where>
			<if test='location1 != null and location1 != "" and location1 != "전체"'>
				AND location1 = #{location1}
			</if>
			<if test='kindId != null and kindId != ""'>
				AND kind_id = #{kindId}
			</if>
			<if test='gender != null and gender != "" and gender != "전체"'>
				AND gender = #{gender}
			</if>
			<if test='age != null and age != "" and age != "전체"'>
				AND age = #{age}
			</if>
			<if test='authorId != null and authorId != ""'>
				AND author_id = #{authorId}
			</if>
		</where>
		)
		GROUP BY article_id ORDER BY article_id ASC;
	</select>
	
</mapper>