<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.violetbeach.daengbu.repository.article.KindRepository">

	<select id="getAll" resultType="com.violetbeach.daengbu.dto.model.article.KindDto">
		SELECT * FROM kind;
	</select>
	
	<select id="getValueById" parameterType="Long" resultType="String">
		SELECT value FROM kind WHERE id=#{id};
	</select>
	
</mapper>