<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- 공통 CSS 파일 -->
        <link th:href="@{/styles/index.css}" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        
        <!-- JQuery -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        
        <!-- CSS 변수 IE11 호환성 해결 스크립트 -->
        <script> window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\/script>'); </script>
        
    </head>
</th:block>
</html>