<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
	<title>비밀번호 변경</title>
</head>

<th:block layout:fragment="content">
	<div id="login_container">
		<p style="font-size:40px;font-weight:800;margin-top:40.5px;margin-bottom:28.5px">비밀번호 변경</p>
		<p style="font-size:14px;color:#ff0000;float:left;margin-bottom:8px;">* 다른 아이디/사이트에서 사용한 적 없는 비밀번호</p>
		<p style="font-size:14px;color:#ff0000;float:left;margin-bottom:42px;">* 이전에 사용한 적 없는 비밀번호<span style="color:#707070">가 안전합니다.</span></p>
		
		<input id="input_current" type="password" class="input_info" maxlength="16" placeholder="현재 비밀번호" style="margin-bottom:34.5px;"/>
		<input id="input_new" type="password" class="input_info" maxlength="16" placeholder="새 비밀번호" style="margin-bottom:4px;"/>
		<input id="input_new_confirm" type="password" class="input_info" maxlength="16" placeholder="새 비밀번호 확인" style="margin-bottom:42px;"/>
		<input id="btn_submit" class="btn_input_info_submit" type="button" value="확인" style="margin-bottom:20px;"/> 
		<input id="btn_cancel" class="btn_input_info_cancel" type="button" value="취소" style="margin-bottom:84px;"/>
    </div>
    
    <script>
    $(document).ready(function(){
    	
    	var passwordPattern = RegExp(/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/);
    	
    	// 로그인
    	$("#btn_submit").click(function(){
    		if($("#input_new").val()!=$("#input_new_confirm").val()) {
    			alert("새 비밀번호가 일치하지 않습니다.");
    			return;
    		}
    		if(!passwordPattern.test($("#input_new").val())) {
    			alert("새 비밀번호는 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
    			return;
    		}
    		
    		$.ajax({
    			url: '/api/v1/user/change-password',
    			type : 'put',
    			data : JSON.stringify({
    				newPassword : $("#input_new").val(),
    				oldPassword : $("#input_current").val()
    			}),
    			contentType: 'application/json; charset=UTF-8',
    			success : function(response, status, xhr){
    				$.ajax({
    					url: '/api/v1/user/logout',
    					type : 'get',
    					success : function(response, status, xhr){
    						window.location = '/';
    					}
    				});
    			},
    			error: function(request, status, error){
    				alert("현재 비밀번호가 일치하지 않습니다.")
    			}
    		});
    	});
    	
    	$('#btn_cancel').click(function(){
    		window.location = '/';
    	})
    	
    })
    </script>
</th:block>
</html>