<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
	<title>로그인</title>
</head>

<th:block layout:fragment="content">
	<div id="login_container">
		<p style="font-size:40px;font-weight:800;margin-top:40.5px;margin-bottom:40.5px">로그인</p>
		<input id="input_email" type="email" class="input_info" maxlength="30" placeholder="이메일" style="margin-bottom:12px;"/>
		<input id="input_password" type="password" class="input_info" maxlength="16" placeholder="비밀번호" style="margin-bottom:24px;"/>
		<input id="btn_login_submit" class="btn_input_info_submit" type="button" value="로그인"/> 
    	<div style="width:500px;margin:25.1px 0 38.9px 0;float:left;" >
    		<p style="color:#707070;font-size:18px;float:left"><a th:href="@{/id-inquiry}">아이디</a> / <a th:href="@{/pw-inquiry}">비밀번호 찾기</a></p>
    		<a th:href="@{/signup} "style="color:#707070;font-size:18px;float:right">회원가입</a>
    	</div>
    	<div style="margin-bottom:80.5px;float:left;">
    		<button id="btn_kakao_login" class="btn_social_login">
    			<img th:src="@{/img/ic_kakao_login.png}" style="margin:0 14.8px 0 0;" />
    			<span>카카오 로그인</span>
    		</button>
    		<button class="btn_social_login">
    			<img th:src="@{/img/ic_naver_login.png}" style="margin-right:14.8px;" />
    			<span>네이버 로그인</span>
    		</button>
    		<button class="btn_social_login">
    			<img th:src="@{/img/ic_google_login.png}" style="margin-right:14.8px;" />
    			<span>Google 로그인</span>
    		</button>
    	</div>
    </div>
    
    <script>
    $(document).ready(function(){
    	
    	// 로그인
    	$("#btn_login_submit").click(function(){
    		$.ajax({
    			url: 'api/auth',
    			type : 'post',
    			data : JSON.stringify({
    				email : $("#input_email").val(),
    				password : $("#input_password").val()
    			}),
    			contentType: 'application/json; charset=UTF-8',
    			success : function(response, status, xhr){
    				window.location = '/';
    			},
    			error: function(request, status, error){
    				alert("가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.");
    			}
    		});
    	});
    	
    	// 카카오 로그인
    	$("#btn_kakao_login").click(function(){
    		$.ajax({
    			url: '/oauth2/outhorization/kakao',
    			type : 'get',
    			success : function(response, status, xhr){
    				window.location = xhr.getResponseHeader('Location');
    			}
    		});
    	});
    	
    })
    </script>
</th:block>
</html>