@charset "EUC-KR";

:root {
  --light-pink: #fff7f7;
  --dark-pink: #e77474;
}

*{
	font-family: 'Nanum Gothic', sans-serif;
}

a{
	text-decoration: underline;
	text-underline-position: under;
}

img{
	cursor: pointer;
}

i{
	cursor: pointer;
}

select:focus {
	outline: none;
}

input:focus {
	outline: none;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset;
}

#main_container{
	width: 1184px;
	height: 1739px;
	margin: 0px auto;
	margin-top: 42.5px;
	margin-bottom: 38px;
}

header{
	width: 1184px;
	height: 156.5px;
	margin: 0px auto;
}

header img#logo{
	width: 144px;
	height: 72px;
	position: absolute;
	left: 50%;
	top: 42.5px;
	transform: translate(-50%);
}

div#header_content *{
	font-size: 18px;
}

div#header_content{
	position: relative;
}

div#header_line{
	padding-bottom: 16px;
	background-color: var(--light-pink);
	border-top: 0.7px solid var(--dark-pink);
	border-bottom: 0.7px solid var(--dark-pink);
}

#side_bar{
	width: 291px;
	float: left;
	margin-right: 34px;
	text-align: center;
}

#side_bar > #side_container{
	width: 291px;
	margin-bottom: 65px;
	float: left;
}

#side_bar #line_wrapper{
	border-bottom: solid 1.5px #a0a0a0;
	margin: 0px;
	padding: 0px;
}

#side_bar p#widget_title{
	font-size:28px;
	font-weight: 800;
	margin: 0px;
	display: inline;
	border-bottom: solid 3.5px #000000;
	margin: 0px;
	padding: 0px 14.5px 4px 14.5px;
}

#side_bar .input_email{
	width: 291px;
	height: 54px;
	margin-top: 30.5px;
	margin-bottom: 20px;
	border: solid 1px #a0a0a0a0;
	font-size: 20px;
	padding: 0px 16px;
}

#side_bar .input_password{
	width: 291px;
	height: 54px;
	margin-bottom: 24px;
	border: solid 1px #a0a0a0a0;
	font-size: 20px;
	padding: 0px 16px;
}

#side_bar .input_email:focus{
	border: solid 1px var(--dark-pink);
}

#side_bar .input_password:focus{
	border: solid 1px var(--dark-pink);
}

#side_bar .btn_login{
	width: 291px;
	height: 58px;
	text-align: center;
	border: solid 1px var(--dark-pink);
	background-color: var(--light-pink);
	font-size:24px;
	font-weight:800;
	color:#6d6d6d;
}

#side_bar .btn_login:focus{
	outline: none;
}

#side_bar #signup_wrapper{
	width: 291px;
	text-align: center;
}

#side_bar #signup_wrapper *{
	font-size: 22px;
	color: #707070;
}

#side_bar .btn_oauth_login {
	width: 65px;
	height: 65px;
}

#side_bar .status_wrapper p{
	margin: 0px 0px 0px 0px;
	font-size: 20px;
}

#side_bar .recent_history_wrapper p{
	margin: 0px 0px 9px 0px;
	font-size: 20px;
}

#side_bar .recent_history_content *{
	color: black;
}

#side_bar .recent_history_content img{
	cursor: default;
}

#side_bar .recent_history_content p{
	width: 230px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#side_bar .recent_history_date p{
	color: #868686;
}

#side_bar .recent_history_wrapper img{
	width: 20px;
	height: 20px;
	margin: 0px 11px 0px 0px;
}

div#content_wrapper{
	width: 859px;
	height: 1739px;
	border: solid 1px #c0c0c0;
	padding: 28px 26px 28px 26px;
	float: right;
}

div#content_wrapper .search_option{
	height: 45px;
	background: url('../svg/ic_selectbox_arrow_gray.svg') no-repeat 95% 50%;
	margin: 0px 20px 0px 0px;
	font-size: 19px;
	float: left;
	border: solid 1px #868686;
	padding-left: 12px;
}

div#content_wrapper .select_order{
	background: url('../svg/ic_selectbox_arrow_red.svg') no-repeat 95% 50%;
	margin: 0px;
	font-size: 20px;
	float: right;
	border: 0px;
	padding-right: 30px;
}

select{
	-moz-appearance:none;
  	-webkit-appearance:none; 
  	appearance:none;
}

select::-ms-expand {
  display : none ;
}

#content_wrapper .content_logo{
	width: 33px;
	height: 30px;
	float: left;
	margin: 0px 15.3px 0px 0px;
	cursor: default;
}

#content_wrapper .content_title{
	line-height: 1.14;
	font-size: 28px;
	font-weight: 800;
	margin: 0px;
}

#content_wrapper .board_card{
	width: 247px;
	height: 319px;
	float: left;
	cursor: pointer;
}

.board_card > .card_img{
	width: 247px;
	height: 176px;
	border-top: solid 1px var(--dark-pink);
	border-left: solid 1px var(--dark-pink);
	border-right: solid 1px var(--dark-pink);
}

.board_card > .card_content{
	width: 247px;
	height: 143px;
	background-color: var(--light-pink);
	padding-top: 6px;
	border: solid 1px var(--dark-pink);
}

.board_card > .card_content p{
	text-align: center;
	margin: 0px;
}

.row_cards{
	width: 807px;
	margin: 0px auto;
	margin-bottom: 33px;
	float: left;
}

.row_cards:nth-child(4){
	margin-bottom: 28px;
}

.img_card{
	width: 247px;
	height: 176px;
	margin: 0px;
}

#content_wrapper .board_card:nth-child(2n+1){
	margin: 0px;
}

.row_cards .board_card:nth-child(2){
	margin-left: 33px;
	margin-right: 33px;
}

.select_page_container{
	width: 807px;
	margin: 0px auto;
}

.select_page_container .boardlist_arrow{
	width: 40px;
	height: 40px;
	margin: 0px;
}

.select_page_numberlist{
	float: left;
}

.select_page_container .select_page_numberlist{
	margin: 0px auto;
}

.select_page_numberlist > span{
	font-size: 30px;
	color: #868686;
	cursor: pointer;
}

.select_page_numberlist > span:not(:last-child){
	margin-right: 62px;
}

footer{
	height: 89px;
	padding: 30px 0px 32px 0px;
	background-color: var(--light-pink);
	border-top: 0.7px solid var(--dark-pink);
	clear: both;
}

div#footer_content{
	width: 1184px;
	text-align: center;
	margin: 0px auto;
}

div#footer_content *{
	font-size: 18px;
}

div#signup_container{
	width: 500px;
	margin: 0px auto;
	text-align: left;
	position: relative;
}

div#signup_result_container{
	width: 500px;
	margin: 0px auto;
	text-align: center;
}

div#signup_result_container .go_main{
	width: 300px;
	height: 69px;
	margin-top: 62px;
	background-color: #e77474;
	border: 0px;
	font-size: 25px;
	color: #ffffff;
}

div#signup_result_container .major{
	font-size: 40px;
}

div#signup_result_container .minor{
	font-size: 20px;
	color: #707070;
}

div#signup_result_container .major span{
	font-weight: 700;
}

div#side_login{
	width: 500px;
	height: 383.5px;
	margin: 0px auto;
	text-align: left;
	display: hidden;
}

#signup_page_logo{
	width: 150px;
	height: 77.5px;
	top: 61px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

div#signup_container .title_input{
	font-size: 19px;
	font-weight: 700;
	margin: 0px 0px 10px 0px;
}

div#signup_container .input_info{
	width: 500px;
	height: 59px;
	border: solid 1px #b2b2b2;
	margin: 0px;
	padding: 0px 9.5px;
	font-size: 19px;
}

div#signup_container input:focus{
	border: solid 1px var(--dark-pink);
}

div#signup_container .btn_signup{
	width: 500px;
	height: 78px;
	margin-top: 46px;
	margin-bottom: 177px;
	border: 0px;
	background-color: var(--dark-pink);
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
}

div#signup_container .btn_phoneauth{
	width: 151px;
	height: 59px;
	float: right;
	margin: 0px;
	background-color: var(--dark-pink);
	border: 0px;
	font-size: 19px;
	font-weight: 400;
	color: #ffffff;
	cursor: pointer;
}

div#signup_container .valid_warning{
	font-size: 16px;
	margin: 6px 0px 0px 0px;
	color: #ff0000;
}

.anonymous{
	display: none;
}

.has_authority{
	display: none;
}